<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">HR </a> / <a href="">Payroll </a> </span> / View
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Payroll ID</label>
										<input type="text" value="CUS0001" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input type="text" value="Lola J Bolden" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Employee</label>
										<input type="text" value="580-269-9087" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Base Pay</label>
                                        <input type="text" value="Lola J Bolden" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Allowances</label>
										<input type="text" value="2946 Luke Lane" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Deductions</label>
										<input type="text" value="Kaw City" disabled>
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Expenses</label>
                                        <input type="text" value="Lola J Bolden" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Tax</label>
                                        <input type="text" value="Lola J Bolden" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Total</label>
                                        <input type="text" value="Lola J Bolden" disabled>
									</md-input-container>
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Edit</md-button>
							<md-button class="md-raised md-accent">Delete</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="22/12/2016" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="Lola J Bolden" disabled>
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified</label>
										<input type="text" value="12/01/2017" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="Lola J Bolden" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Edit</md-button>
							<md-button class="md-raised md-accent">Delete</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
			
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>