<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">Warehouse Management </a>&nbsp; / &nbsp;<a href="">Stock Locations </a> </span>&nbsp; / &nbsp; New
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form ng-submit="vm.saveWarehouseLocation()" name="submitForm" novalidate>
                            <div layout="column" layout-gt-xs="row" flex>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input type="text" name="subject" ng-model="vm.warehouse_location.subject" required>
	                                    <div ng-messages="submitForm.subject.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Subject field is required</span>
	                                        </div>
	                                    </div>									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Row No</label>
										<input type="text" name="row_no" ng-model="vm.warehouse_location.row_no">
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Rack From</label>
										<input type="text" name="rack_from" ng-model="vm.warehouse_location.rack_from">
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Rack To</label>
										<input type="text" name="rack_to" ng-model="vm.warehouse_location.rack_to">
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Status</label>
										<md-select name="status" ng-model="vm.warehouse_location.status">
											<md-option ng-repeat="type in ['Active', 'Inactive']" value="{{type}}">
												{{type}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Warehouse</label>
                                        <md-select ng-model="vm.warehouse_location.warehouse_id" name="warehouse">
                                            <md-option ng-repeat="warehouse in get_warehouses" value="{{warehouse.warehouse_id}}">
                                                {{warehouse.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Asset</label>
										<input type="text" ng-model="vm.warehouse_location.asset">
									</md-input-container>
                                    <md-input-container class="md-block" flex="33">
										<label>SKU</label>
										<input type="text" ng-model="vm.warehouse_location.sku">
									</md-input-container>
                                </div>
								
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Description</label>
										<input type="text" name="description" ng-model="vm.warehouse_location.description">
									</md-input-container>
                                </div>						
							<div class="actions" layout="row" layout-align="start center">
		                            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Save"
		                                       ng-disabled="submitForm.$invalid || submitForm.$pristine"
		                                       translate="Save" translate-attr-aria-label="Save">
		                                Save
		                            </md-button>
									<md-button ng-click="vm.warehouseLocationDataClear()" class="md-raised md-accent">Clear</md-button>
							</div>
						</form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>


<!-- ADD BUTTON -->
	<div class="add-btn-fixed">
		<md-button ng-click="vm.newWarehouseLocationPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div>
<!-- / ADD BUTTON -->