<div id="forms" class="page-layout simple fullwidth doc-page" layout="column" style="min-height:auto;">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal;" class="parent"> <a href="">Inventory Management</a> </span>&nbsp; / &nbsp; Inventory Item
            </div>
        </div>
    </div>
    <!-- / HEADER -->
</div>


<div style="height:auto; min-height:auto; margin-top:20px; margin-bottom: -20px;" class="page-layout carded fullwidth" layout="row">
    <div class="center" layout="row" flex>
        <div class="content-card" layout="column" flex>
			<div style="padding:20px 20px 0px 20px; font-size:18px;">
				<div layout="column" layout-gt-xs="row">
					<md-input-container flex>
						<md-icon md-font-icon="icon-magnify"></md-icon>
						<label>Search</label>
                        <input ng-keyup="$event.keyCode == 13 && vm.searchInventoryItemData()" ng-model="vm.search_data.search_box">
						<md-icon ng-model="collapsed" class="cursor-pointer" ng-click="collapsed=!collapsed" md-font-icon="icon-chevron-down"></md-icon>
					
						<div style="padding-top:49px;" ng-show="collapsed">
					      	<div layout="column" layout-gt-xs="row" flex>
                                <md-input-container class="md-block" flex-gt-sm>
									<label>ICC</label>
									<input ng-model="vm.search_data.icc">
								</md-input-container>
								
								<md-input-container class="md-block" flex-gt-sm>
									<label>Serial</label>
									<input ng-model="vm.search_data.serial">
								</md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Make</label>
                                    <input ng-model="vm.search_data.make">
                                </md-input-container>


                            </div>

                            <div layout="row" layout-gt-xs="row" flex>
                               <md-input-container class="md-block" flex-gt-sm>
                                    <label>Model</label>
                                    <input ng-model="vm.search_data.model">
                                </md-input-container>
                                
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Location</label>
                                    <input ng-model="vm.search_data.location">
                                </md-input-container>
                                    
                            </div>								
							<div class="actions" layout="row" layout-align="start center">
                                <md-button ng-click="vm.searchInventoryItemData()" class="md-raised md-accent">Search</md-button>
                                <md-button ng-click="vm.searchInventoryItemDataClear()" class="md-raised md-accent">Clear</md-button>
							</div>							
						</div>
					</md-input-container>	
                </div>
			</div>
        </div>
    </div>
</div>



<div  id="e-commerce-orders" class="page-layout carded fullwidth" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
			
			<div style="padding:25px; font-size:18px;"> Inventory Item </div>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->
            <div class="center" ng-hide="show_table1 && show_table2">
                <div class="spinner-wrapper0">
                    <div class="spinner-circle0">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover rowClickable" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                               <th class="secondary-text">
                                <div class="">
                                    <span class="column-title">#</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">ICC</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Serial</span>
                                </div>
                            </th>
                            
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Make</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Model</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Location</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Acquisition Cost</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Cached Profit Share Percent</span>
                                </div>
                            </th>
                            
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Date Created</span>
                                </div>
                            </th>
							<!-- 
                            <th class="secondary-text">
                                <div class="">
                                    <span class="column-title">Action</span>
                                </div>
                            </th> -->
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-click="vm.viewItemPage(item.id)" ng-repeat="item in get_inventory_item">
                               <td ng-click="$event.stopPropagation()"><md-checkbox ng-model="item.checked" aria-label="Checkbox 1">
                                </md-checkbox>
                            </td>
                            <td>{{item.icc}}</td>
                            <td>{{item.serial}}</td>
                            <td>{{item.make}}</td>
                            <td>{{item.model}}</td>
                            <td>{{item.location}}</td>
                            <td>{{item.acquisition_cost| number : 2}}</td>
                            <td>{{item.cached_profit_share_percent| number : 2}}%</td>
                            <td>{{item.created_at | date}}</td>
                            <!-- <td>
                                <a class="edit-button md-icon-button"
                                   ng-click="vm.editItemPage(item)"
                                   aria-label="Product details" href="">
                                   <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                                </a>
                                <a class="edit-button md-icon-button"
                                   ng-click="vm.viewItemPage(item.id)"
                                   aria-label="Product details" href="">
                                   <md-icon md-font-icon="icon-eye" class="s16"></md-icon>
                                </a>
                                <a ng-click="vm.deleteItem(item.id)" href="">
                                   <md-icon md-font-icon="icon-delete" class="s16"></md-icon>
                                </a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="actions" layout="row" layout-align="start center">
                <md-button ng-click="vm.refreshData()" class="md-raised md-accent">Refresh</md-button>
            </div>            
            <!-- / CONTENT -->
<!-- 			<div class="actions" layout="row" layout-align="start center">
                <md-button ng-click="vm.deleteAllItem()" class="md-raised md-accent">Delete</md-button>
			</div> -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newCustomerPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
<!-- <div class="add-btn-fixed" ng-if="vm.isAdmin == true"> -->
<div class="add-btn-fixed" >
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count" md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button ng-click="vm.deleteAllItem()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button> 
		<md-button ng-click="vm.newItemPage()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
</div>
  
<!-- / ADD BUTTON -->