<div id="forms" class="page-layout simple fullwidth doc-page" layout="column" style="min-height:auto;">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal;" class="parent"> <a href="">Inventory Management</a> </span>&nbsp; / &nbsp; Item Category
            </div>
        </div>
    </div>
    <!-- / HEADER -->
</div>



<div style="height:auto; min-height:auto; margin-top:20px; margin-bottom: -20px;" class="page-layout carded fullwidth" layout="row">
    <!-- CENTER -->
    <div class="center" layout="row" flex>
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
			<div style="padding:20px 20px 0px 20px; font-size:18px;">
				<div layout="column" layout-gt-xs="row">
				
					
					<md-input-container flex>
						<md-icon ng-click="vm.searchCategoryData()" md-font-icon="icon-magnify"></md-icon>
						<label>Search</label>
						<input ng-model="vm.search_data.search">
						<md-icon ng-model="collapsed" ng-click="collapsed=!collapsed" md-font-icon="icon-chevron-down"></md-icon>
					
						<div style="padding-top:49px;" ng-show="collapsed">
							<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Category ID</label>
										<input ng-model="vm.search_data.code">
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Name</label>
										<input ng-model="vm.search_data.name">
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Unit</label>
										<input ng-model="vm.search_data.unit">
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Tax</label>
										<input ng-model="vm.search_data.tax">
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Manufacturer</label>
										<input ng-model="vm.search_data.manufacturer">
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<md-datepicker ng-model="vm.search_data.created_at" md-placeholder="Date Created"></md-datepicker>
									</md-input-container>
                                </div>
								
                                <div layout="row" layout-gt-xs="row" flex>
                                
                                <md-input-container class="md-block" flex="33">
                                    <label>Created By</label>
                                    <md-select ng-model="vm.search_data.created_by_id">
                                        <md-option ng-repeat="user in get_users" value="{{user.id}}">
                                            {{user.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                </div>
								<div class="actions" layout="row" layout-align="start center">
                                    <md-button ng-click="vm.searchCategoryData()" class="md-raised md-accent">Search</md-button>
                                    <md-button ng-click="vm.searchCategoryDataClear()" class="md-raised md-accent">Clear</md-button>
								</div>							
						</div>
					
					</md-input-container>
					
					
                </div>
				
			</div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>



<div id="e-commerce-orders" class="page-layout carded fullwidth" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
			
			<div style="padding:25px; font-size:18px;"> Item Categories </div>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="">
                                    <span class="column-title">#</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Category ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Cateogory Name</span>
                                </div>
                            </th>
                            
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Unit</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Tax</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Manufacturer</span>
                                </div>
                            </th><!-- 
							
                            <th class="secondary-text">
                                <div class="">
                                    <span class="column-title">Action</span>
                                </div>
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="category in categories_data">
                            <td><md-checkbox ng-model="category.checked" aria-label="Checkbox 1">
								</md-checkbox>
							</td>
                            <td><a ng-click="vm.viewItemCategoryPage(category.id)" href="">{{category.code}}</a></td>
                            <td>{{category.name}}</td>
							<td>{{category.unit}}</td>
							<td>{{category.tax}}</td>
                            <td>{{category.manufacturer}}</td><!-- 
                            <td>
                                <a class="edit-button md-icon-button"
                                   ng-click="vm.editItemCategoryPage(category)"
                                   aria-label="Product details" href="">
                                   <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                                </a>
                                <a class="edit-button md-icon-button"
                                   ng-click="vm.viewItemCategoryPage(category.id)"
                                   aria-label="Product details" href="">
                                   <md-icon md-font-icon="icon-eye" class="s16"></md-icon>
                                </a>
                                <a ng-click="vm.deleteItemCategory(category.id)" href="">
                                   <md-icon md-font-icon="icon-delete" class="s16"></md-icon>
                                </a>
								
                            </td> -->
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->
			<div class="actions" layout="row" layout-align="start center">
				<md-button ng-click="vm.deleteAllItemCategory()" class="md-raised md-accent">Delete</md-button>
			</div>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>

<!-- ADD BUTTON -->
	<div class="add-btn-fixed">
		<md-button ng-click="vm.newItemCategoryPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div>
<!-- / ADD BUTTON -->