<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">Inventory Management </a>&nbsp; / &nbsp;<a href="">Item categories </a> </span>&nbsp; / &nbsp; View
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Category ID</label>
										<input type="text" value="{{category_data.code}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Category Name</label>
										<input type="text" value="{{category_data.name}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Unit</label>
										<input type="text" value="{{category_data.unit}}" disabled>
									</md-input-container>

                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Tax</label>
										<input type="text" value="{{category_data.tax}}" disabled>
									</md-input-container>

                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Description</label>
										<input type="text" value="{{category_data.description}}" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Manufacturer</label>
										<input type="text" value="{{category_data.manufacturer}}" disabled>
									</md-input-container>
									
                                </div>
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editItemCategoryPage(category_data)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteItemCategory(category_data.id)" class="md-raised md-accent">Delete</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="{{category_data.created_at}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="{{category_data.created_by}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified</label>
										<input type="text" value="{{category_data.updated_at}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="{{category_data.updated_by}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						<!-- <div class="actions" layout="row" layout-align="start center">
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editItemCategoryPage(category_data)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteItemCategory(category_data.id)" class="md-raised md-accent">Delete</md-button>
						</div>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Items</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="">
											<span class="column-title">#</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Code</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Name</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Unit</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Selling Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Purchase Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Instock</span>
										</div>
									</th>
									
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Created By</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in category_data.items">
									<td><md-checkbox ng-model="item.checked" aria-label="Checkbox 1">
										</md-checkbox>
									</td>
                            		<td><a ng-click="vm.viewItemPage(item.id)" href="">{{item.code}}</a></td>
									<td>{{item.name}}</td>
									<td>{{item.unit}}</td>
									<td>{{item.selling_price}}</td>
									<td>{{item.purchase_price}}</td>
									<td>{{item.item_in_stock}}</td>
									<td>{{item.created_by}}</td>
								</tr>
							</tbody>
						</table>
						<div class="actions" layout="row" layout-align="start center">
			                <md-button ng-click="vm.deleteAllItem()" class="md-raised md-accent">Delete</md-button>
			                <md-button ng-click="vm.newItemPage()" class="md-raised md-accent">Add</md-button>
						</div>
					</div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>


<!-- ADD BUTTON -->
	<div class="add-btn-fixed">
		<md-button ng-click="vm.newItemCategoryPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div>
<!-- / ADD BUTTON -->