<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">Inventory Management </a> / <a href="">Item categories </a> </span> / View
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Category ID</label>
										<input type="text" value="CUS0001" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Category Name</label>
										<input type="text" value="Lola J Bolden" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Description</label>
										<input type="text" value="580-269-9087" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Image</label>
                                        <input type="text" value="2946 Luke Lane" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Unit</label>
										<input type="text" value="2946 Luke Lane" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Tax</label>
										<input type="text" value="Kaw City" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Manufacturer</label>
										<input type="text" value="Oklahoma" disabled>
									</md-input-container>
									
                                </div>
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="$525" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="$5648" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified</label>
										<input type="text" value="Lorem Ipsum" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="Lola J Bolden" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Items</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="">
											<span class="column-title">#</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Code</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Name</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Unit</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Selling Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Purchase Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Instock</span>
										</div>
									</th>
									
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Created By</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="">
											<span class="column-title">Action</span>
										</div>
									</th>
								   <!--  <th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Actions</span>
										</div>
									</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="order in ::vm.orders">
									<td><md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
										</md-checkbox>
									</td>
									<td>{{order.name}}</td>
									<td>{{order.type}}</td>
									<td>{{order.country}}</td>
									<td>{{order.date}}</td>
									<td>{{order.date}}</td>
									<td>{{order.date}}</td>
									<td>{{order.createdby}}</td>
									<!-- <td>{{order.test}}</td> -->
									<td>
										<a class="edit-button md-icon-button"
										   aria-label="Product details" href="">
										   <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
										</a>
										<a class="edit-button md-icon-button"
										   aria-label="Product details" href="">
										   <md-icon md-font-icon="icon-eye" class="s16"></md-icon>
										</a>
										<a href="">
										   <md-icon md-font-icon="icon-delete" class="s16"></md-icon>
										</a>
										
									</td>
								</tr>
							</tbody>
						</table>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Delete</md-button>
							<md-button class="md-raised md-accent">Add</md-button>
						</div>
					</div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>