<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">Inventory Management </a> / <a href="">Purchase Orders </a> </span> / View
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

             <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Purchase Order ID</label>
										<input type="text" value="{{purchase_order_data.code}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input type="text" value="{{purchase_order_data.subject}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Description</label>
										<input type="text" value="{{purchase_order_data.description}}" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Supplier</label>
                                        <input type="text" value="{{purchase_order_data.supplier}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subtotal</label>
										<input type="text" value="{{purchase_order_data.sub_total}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Tax</label>
										<input type="text" value="{{purchase_order_data.tax}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Grand Total</label>
										<input type="text" value="{{purchase_order_data.grand_total
										}}" disabled>
									</md-input-container>
                                </div>
                        </form>
						
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editPurchaseOrderPage(purchase_order_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deletePurchaseOrder(purchase_order_data.id)" class="md-raised md-accent">Delete</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>		
			<md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="{{purchase_order_data.created_at
										}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="{{purchase_order_data.created_by
										}}" disabled>
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified</label>
										<input type="text" value="{{purchase_order_data.updated_at
										}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="{{purchase_order_data.updated_by
										}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editPurchaseOrderPage(purchase_order_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deletePurchaseOrder(purchase_order_data.id)" class="md-raised md-accent">Delete</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Items</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="">
											<span class="column-title">#</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item ID</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Name</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Manufacturer</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Quantity</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Total</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Date Created</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Created By</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="">
											<span class="column-title">Action</span>
										</div>
									</th>
								   <!--  <th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Actions</span>
										</div>
									</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="order in ::vm.orders">
									<td><md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
										</md-checkbox>
									</td>
									<td>{{order.name}}</td>
									<td>{{order.phone}}</td>
									<td>{{order.type}}</td>
									<td>{{order.country}}</td>
									<td>{{order.date}}</td>
									<td>{{order.date}}</td>
									<td>{{order.createdby}}</td>
									<!-- <td>{{order.test}}</td> -->
									<td>
										<a class="edit-button md-icon-button"
										   aria-label="Product details" href="">
										   <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
										</a>
										<a class="edit-button md-icon-button"
										   aria-label="Product details" href="">
										   <md-icon md-font-icon="icon-eye" class="s16"></md-icon>
										</a>
										<a href="">
										   <md-icon md-font-icon="icon-delete" class="s16"></md-icon>
										</a>
										
									</td>
								</tr>
							</tbody>
						</table>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Delete</md-button>
							<md-button class="md-raised md-accent">Add</md-button>
						</div>
					</div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>