<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">Inventory Management </a>&nbsp; / &nbsp;<a href="">Suppliers </a> </span>&nbsp; / &nbsp; View
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Supplier ID</label>
										<input type="text" value="{{supplier_data.code}}"disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Supplier Name</label>
										<input type="text" value="{{supplier_data.name}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Phone</label>
										<input type="text" value="{{supplier_data.phone}}" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
                                        <input type="text" value="{{supplier_data.email}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Supplier Since</label>
										<input type="text" value="{{supplier_data.supplier_since}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Supplier Currency</label>
										<input type="text" value="{{supplier_data.supplier_currency}}" disabled>
									</md-input-container>
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editSupplierPage(supplier_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteSupplier(supplier_data.id)" class="md-raised md-accent">Delete</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Address Information</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Address Street</label>
										<input type="text" value="{{supplier_data.street}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Address City</label>
										<input type="text" value="{{supplier_data.city}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Address State</label>
										<input type="text" value="{{supplier_data.state}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Address Country</label>
										<input type="text" value="{{supplier_data.country}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Address Postal Code</label>
										<input type="text" value="{{supplier_data.postal_code}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editSupplierPage(supplier_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteSupplier(supplier_data.id)" class="md-raised md-accent">Delete</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="{{supplier_data.created_at}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="{{supplier_data.created_by}}" disabled>
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified</label>
										<input type="text" value="{{supplier_data.updated_at}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="{{supplier_data.updated_by}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						
						<!-- <div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editSupplierPage(supplier_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteSupplier(supplier_data.id)" class="md-raised md-accent">Delete</md-button>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Purchase Orders</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="">
											<span class="column-title">#</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Purchase Order ID</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Subject</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Total Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Date Created</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Created By</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="purchase_order in supplier_data.purchase_orders">
									<td><md-checkbox ng-model="purchase_order.checked" aria-label="Checkbox 1">
										</md-checkbox>
									</td>
									<td>{{purchase_order.code}}</td>
									
									<td>{{purchase_order.subject}}</td>
									<td>{{purchase_order.grand_total}}</td>
									<td>{{purchase_order.created_at}}</td>
									<td>{{purchase_order.created_by}}</td>
								</tr>
							</tbody>
						</table>
						<div class="actions" layout="row" layout-align="start center">
			                <md-button ng-click="vm.deleteAllPurchaseOrder()" class="md-raised md-accent">Delete</md-button>
			                <md-button ng-click="vm.newPurchaseOrderPage()" class="md-raised md-accent">Add</md-button>
						</div>
					</div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>

<!-- ADD BUTTON -->
	<div class="add-btn-fixed">
		<md-button class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div>
<!-- / ADD BUTTON -->