<div class="top-bg"></div>

<div id="reset-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="reset-password-form-wrapper" layout="column" layout-align="center center">
		<div style="margin-bottom:20px;">
			<img class="huge" src="assets/images/logos/login-logo.png">
		</div>
        <div id="reset-password-form" class="md-whiteframe-8dp">

            <div class="title">RESET PASSWORD</div>

            <form ng-submit="resetPassword()" name="resetPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="user.password" placeholder="Password"
                           translate translate-attr-placeholder="RESETPASSWORD.PASSWORD"
                           required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password_confirmation" ng-model="user.password_confirmation"
                           placeholder="Password (Confirm)"
                           translate translate-attr-placeholder="RESETPASSWORD.PASSWORD_CONFIRM"
                           required>
                    <div ng-messages="resetPasswordForm.password_confirmation.$error" role="alert">
                        <div ng-message="required">
                            <span translate="RESETPASSWORD.ERRORS.PASSWORD_CONFIRM_REQUIRED">Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="UPDATE MY PASSWORD"
                           ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine"
                           translate="RESETPASSWORD.UPDATE_PASSWORD"
                           translate-attr-aria-label="RESETPASSWORD.UPDATE_PASSWORD">
                    RESET MY PASSWORD
                </md-button>
            </form>
        </div>
    </div>
</div>