#reset-password {
    height: 100%;
	background: #242841;

    #reset-password-form-wrapper {
        flex: 1 0 auto;
        padding: 15px;

        #reset-password-form {
            width: 450px;
            max-width: 450px;
            padding: 15px;
            text-align: center;
            background: #FFFFFF;
			border: 5px solid #cbcbcc;
			border-radius: 5px;

            .logo {
                width: 128px;
                height: 128px;
                line-height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 15px auto;
                color: #FFFFFF;
                border-radius: 2px;
            }

            .title {
                font-size: 32px;
                margin: 0px 0 0px 0;
				color: #0fb0ee;
				font-weight: bolder;
            }

            form {
                width: 100%;
                text-align: left;

                .submit-button {
                    width: 100%;
                    margin: 16px auto;
                    display: block;
                }
            }

            .login {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }

                .link {

                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #reset-password {

        #reset-password-form-wrapper {
            padding: 16px;

            #reset-password-form {
                padding: 24px;
                width: 100%;

                form {

                    .md-button {
                        width: 90%;
                    }
                }
            }
        }
    }

}