<div class="top-bg"></div>

<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
	
		<div style="margin-bottom:20px;">
			<img class="huge" src="assets/images/logos/login-logo.png">
		</div>
        <div id="forgot-password-form" class="md-whiteframe-8dp">

            <div class="title">FORGOT PASSWORD</div>

            <form ng-submit="forgotPassword()" name="forgotPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="user.email" placeholder="Email address"
                           translate translate-attr-placeholder="FORGOTPASSWORD.EMAIL_ADRESS"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="forgotPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="FORGOTPASSWORD.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="RESET MY PASSWORD"
                           ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine">
                    SEND PASSWORD RESET INSTRUCTIONS
                </md-button>
            </form>
			
			<div class="register" layout="row" layout-sm="column" layout-align="start center">
				<md-button ng-click="signinPage()" type="button" class="md-raised md-accent submit-button">
                    Login
                </md-button>
				<md-button ng-click="signupPage()" type="button" class="md-raised md-accent submit-button">
                    Sign Up
                </md-button>
            </div>

            <div layout="row" layout-align="start center">
                <a class="link">Did't Receive Confirmation Instructions?</a>
            </div>
        </div>
    </div>
</div>