<div id="forms" class="page-layout simple fullwidth doc-page" layout="column" style="min-height:auto;">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal;" class="parent"> <a href="">Order Management</a> </span>&nbsp; / &nbsp; Accounts
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">
        <div layout="row">

            <!-- FORM WIZARD -->
            <ms-form-wizard flex>
                <md-tabs md-dynamic-height>
                    <md-tab>
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-text">Connected Accounts</span>
                            </span>
                        </md-tab-label>
                        <md-tab-body>
                        	<div ms-form-wizard-form >
			                    <form ng-submit="vm.createMarketplace()" name="submitForm" novalidate>
			                    	<div layout="row" layout-gt-xs="row" flex>
										<md-input-container class="md-block" flex="33">
											<label>Marketplace</label>
			                                <md-select name="marketplace" ng-model="vm.new_data.marketplace" required>
			                                    <md-option ng-repeat="marketplace in marketplaces.marketplace" value="{{marketplace}}">
			                                        {{marketplace.name}}
			                                    </md-option>
			                                </md-select>	
			                                <div ng-messages="submitForm.marketplace.$error" role="alert">
			                                    <div ng-message="required">
			                                        <span >Marketplace field is required</span>
			                                    </div>
			                                </div>
										</md-input-container>
			                            <md-button type="submit" class="circlebtn md-raised md-accent" aria-label="Save"
			                                       ng-disabled="submitForm.$invalid || submitForm.$pristine"
			                                       translate="+" translate-attr-aria-label="Save">
			                                <md-icon class="plus-iconmanu" md-font-icon="icon-plus"></md-icon>
			                            </md-button>
			                        </div>
			                    </form>
								
								
								
								<table style="width: 100%;">
									<tr ng-repeat="account in accounts.accounts" ng-show="account.title=='Etsy'">
										<td><h2>Etsy </h2></td>
										<td>
											<md-button ng-click="vm.manageSalesEvent($event,account.id);" class="md-raised md-accent">Manage Sale Events</md-button>
											<md-button ng-click="vm.marketpalceOption($event,account.id);" class="md-raised md-accent">Options</md-button>
										</td>
										<td align="right"><md-button class="md-raised md-accent connected-acc-btn">Connect</md-button></td>
									</tr>
									
									<tr ng-repeat="account in accounts.accounts" ng-show="account.title=='eBay'" >
										<td><h2>eBay </h2></td>
										<td>
											<md-button ng-click="vm.manageSalesEvent($event,account.id);" class="md-raised md-accent">Manage Sale Events</md-button>
											<md-button ng-click="vm.marketpalceOption($event,account.id);" class="md-raised md-accent">Options</md-button>
										</td>
										<td align="right">
											<md-button ng-hide="account.is_connected" ng-click="vm.connect(account.id)" class="md-raised md-accent">Connect</md-button>
											<md-button ng-show="account.is_connected" ng-click="vm.accountDisConnect(account.id)" class="md-raised md-accent">Disconnect</md-button>
										</td>
									</tr>
									
									<tr ng-repeat="account in accounts.accounts" ng-show="account.title=='Amazon'" >
										<td><h2>eBay </h2></td>
										<td>
											<md-button ng-click="vm.manageSalesEvent($event,account.id);" class="md-raised md-accent">Manage Sale Events</md-button>
											<md-button ng-click="vm.marketpalceOption($event,account.id);" class="md-raised md-accent">Options</md-button>
										</td>
										<td align="right">
											<md-button ng-hide="account.is_connected" ng-click="vm.amazonAccountConnect(account.id)" class="md-raised md-accent">Connect</md-button>
											<md-button ng-show="account.is_connected" ng-click="vm.accountDisConnect(account.id)" class="md-raised md-accent">Disconnect</md-button>
										</td>
									</tr>
									
									<tr ng-repeat="account in accounts.accounts" ng-show="account.title=='Shopify'" >
										<td><h2>eBay </h2></td>
										<td>
											<md-button ng-click="vm.manageSalesEvent($event,account.id);" class="md-raised md-accent">Manage Sale Events</md-button>
											<md-button ng-click="vm.marketpalceOption($event,account.id);" class="md-raised md-accent">Options</md-button>
										</td>
										<td align="right">
											<md-button ng-hide="account.is_connected" ng-click="vm.shopifyAccountConnect(account.id)" class="md-raised md-accent">Connect</md-button>
											<md-button ng-show="account.is_connected" ng-click="vm.accountDisConnect(account.id)" class="md-raised md-accent">Disconnect</md-button>
										</td>
									</tr>
								</table>
								
								
								
								<!-- <div ng-repeat="account in accounts.accounts" ng-show="account.title=='Etsy'" layout="row" layout-xs="column">
								  <div flex layout="row" layout-align="start center">
								  	<h2>Etsy </h2> &nbsp; &nbsp; <h4> / <a ng-click="vm.manageSalesEvent($event,account.id);" href="">Manage Sale Events</a> / <a ng-click="vm.marketpalceOption($event,account.id);" href="">Options</a></h4>
								  </div>
								  <div flex layout="row" layout-align="end center">
									<md-button class="md-raised md-accent">Connect</md-button>
								  </div>
								</div>
								
								<div ng-repeat="account in accounts.accounts" ng-show="account.title=='eBay'" layout="row" layout-xs="column">
								  <div flex layout="row" layout-align="start center">
								  	<h2>eBay </h2> &nbsp; &nbsp; <h4> / <a ng-click="vm.manageSalesEvent($event,account.id);" href="">Manage Sale Events</a> / <a ng-click="vm.marketpalceOption($event,account.id);" href="">Options</a></h4>
								  </div>
								  <div flex layout="row" layout-align="end center">
									<md-button ng-hide="account.is_connected" ng-click="vm.connect(account.id)" class="md-raised md-accent">Connect</md-button>
								  	<md-button ng-show="account.is_connected" ng-click="vm.accountDisConnect(account.id)" class="md-raised md-accent">Disconnect</md-button>
								  </div>
								</div>
								
								<div ng-repeat="account in accounts.accounts" ng-show="account.title=='Amazon'" layout="row" layout-xs="column">
								  <div flex layout="row" layout-align="start center">
								  <h2>Amazon </h2> &nbsp; &nbsp; <h4> / <a ng-click="vm.manageSalesEvent($event,account.id);" href="">Manage Sale Events</a> / <a ng-click="vm.marketpalceOption($event,account.id);" href="">Options</a></h4>
								  </div>
								  <div flex layout="row" layout-align="end center">
									<md-button ng-hide="account.is_connected" ng-click="vm.amazonAccountConnect(account.id)" class="md-raised md-accent">Connect</md-button>
								  	<md-button ng-show="account.is_connected" ng-click="vm.accountDisConnect(account.id)" class="md-raised md-accent">Disconnect</md-button>
								  </div>
								</div>
								
								<div ng-repeat="account in accounts.accounts" ng-show="account.title=='Shopify'" layout="row" layout-xs="column">
								  <div flex layout="row" layout-align="start center">
								  	 <h2>Shopify </h2> &nbsp; &nbsp; <h4> / <a ng-click="vm.manageSalesEvent($event,account.id);" href="">Manage Sale Events</a> / <a ng-click="vm.marketpalceOption($event,account.id);" href="">Options</a></h4>
								  </div>
								  <div flex layout="row" layout-align="end center">
									<md-button ng-hide="account.is_connected" ng-click="vm.shopifyAccountConnect(account.id)" class="md-raised md-accent">Connect</md-button>
								  	<md-button ng-show="account.is_connected" ng-click="vm.accountDisConnect(account.id)" class="md-raised md-accent">Disconnect</md-button>
								  </div>
								</di -->
								
								
								
								
								
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

               

            </ms-form-wizard>
            <!-- / FORM WIZARD -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>

