<div id="forms" class="page-layout simple fullwidth doc-page" layout="column" style="min-height:auto;">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal;" class="parent"> <a href="">Order Management</a> </span>  / Sales Order
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">
        <div layout="row">

            <!-- FORM WIZARD -->
            <ms-form-wizard flex>
                <md-tabs md-dynamic-height>
                    <md-tab>
                        <md-tab-label>
                            <span class="ms-form-wizard-step-label">
                                <span class="ms-form-wizard-step-text">Search</span>
                            </span>
                        </md-tab-label>

                        <md-tab-body>
                            <form name="wizardStep1" class="md-inline-form" ms-form-wizard-form novalidate>
                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>ID</label>
										<input ng-model="vm.search_data.code">
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Order ID</label>
										<input ng-model="vm.search_data.uid">
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input ng-model="vm.search_data.name">
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex>
										<md-datepicker ng-model="vm.search_data.create_timestamp" md-placeholder="Order Date"></md-datepicker>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Total</label>
										<input ng-model="vm.search_data.grand_total">
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Customer</label>
										<input ng-model="vm.search_data.customer_user_id">
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex>
										<label>Status</label>
                                        <input ng-model="vm.search_data.status">
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<md-datepicker ng-model="vm.search_data.created_at" md-placeholder="Date Created"></md-datepicker>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                    </md-input-container>
                                </div>
								
								
								<div class="actions" layout="row" layout-align="start center">
									<md-button ng-click="vm.searchSalesOrdersData()" class="md-raised md-accent">Search</md-button>
									<md-button ng-click="vm.searchSalesOrdersDataClear()" class="md-raised md-accent">Clear</md-button>
								</div>
                            </form>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>

               

            </ms-form-wizard>
            <!-- / FORM WIZARD -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>


<div id="e-commerce-orders" class="page-layout carded fullwidth" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
			
			<div style="padding:25px; font-size:18px;"> Sales Orders </div>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="">
                                    <span class="column-title">#</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Order ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Subject</span>
                                </div>
                            </th>                            
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Order Date</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Total</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Customer</span>
                                </div>
                            </th>
							<th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
							<th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Date Created</span>
                                </div>
                            </th>
							
                            <th class="secondary-text">
                                <div class="">
                                    <span class="column-title">Action</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in sales_orders_data">
                            <td><md-checkbox ng-model="order.checked" aria-label="Checkbox 1">
								</md-checkbox>
							</td>
                            <td>{{order.code}}</td>
                            <td>{{order.uid}}</td>
                            <td>{{order.name}}</td>
							<td>{{order.create_timestamp}}</td>
							<td>{{order.grand_total}}</td>
							<td>{{order.customer}}</td>
                            <td>{{order.status}}</td>
                            <td>{{order.created_at}}</td>
                            <td>
                                <a class="edit-button md-icon-button"
                                   ng-click="vm.salesOrderEdit(order.id)"
                                   aria-label="Product details" href="">
                                   <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                                </a>
								<a class="edit-button md-icon-button"
                                   ng-click="vm.salesOrderView(order.id)"
                                   aria-label="Product details" href="">
								   <md-icon md-font-icon="icon-eye" class="s16"></md-icon>
								</a>
								<a ng-click="vm.deleteSalesOrder(order.id)" href="">
								   <md-icon  md-font-icon="icon-delete" class="s16"></md-icon>
								</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->
			<div class="actions" layout="row" layout-align="start center">
				<md-button ng-click="vm.deleteAllSalesOrder()" class="md-raised md-accent">Delete</md-button>
                <md-button ng-click="vm.refreshSalesOrder()" class="md-raised md-accent">Refresh</md-button>
			</div>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>