<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a ng-click="vm.AccountsPage()" href="">Accounting </a>&nbsp; / &nbsp;<a ng-click="vm.AccountsPage()" href="">Accounts </a> </span>&nbsp; / &nbsp; View
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>ID</label>
										<input type="text" ng-model="account_data.code" value="" disabled> 
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Code</label>
										<input type="text" ng-model="account_data.acc_code" value="" disabled>
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Name</label>
                                        <input type="text"  ng-model="account_data.name" value="" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Description</label>
										<input type="text"  ng-model="account_data.description" value="" disabled>
									</md-input-container>
								</div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Type</label>
										<md-select ng-model="account_data.acc_type" disabled>
											<md-option ng-repeat="type in ['Profit/Loss', 'Balance Sheet']" value="{{type}}">
												{{type}}
											</md-option>
										</md-select>
									</md-input-container>
                                </div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>


            <md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Date Created</label>
                                        <input type="text" value="{{account_data.created_at}}" disabled>
                                    </md-input-container>
                                    
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Created By</label>
                                        <input type="text" value="{{account_data.created_by}}" disabled>
                                    </md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
                                        <label>Date Modified</label>
                                        <input type="text" value="{{account_data.updated_at}}" disabled>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
                                        <label>Modified By</label>
                                        <input type="text" value="{{account_data.updated_by}}" disabled>
                                    </md-input-container>
                                    
                                </div>
                                
                        </form>
						
                    </div>
                </md-tab-body>
            </md-tab>
			
			
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button ng-click="vm.deleteAccount(account_data.id)" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button ng-click="vm.editAccountPage(account_data)" aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button ng-click="vm.newAccountPage()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->