<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a ng-click="vm.WarehousesPage()" href="">Warehouse Management </a>&nbsp; / &nbsp;<a ng-click="vm.WarehousesPage()" href="">Warehouse </a> </span>&nbsp; / &nbsp; Edit
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form ng-submit="vm.updateWarehouse()" name="submitForm" novalidate>
                            <div layout="column" layout-gt-xs="row" flex>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input type="text" name="subject" ng-model="vm.warehouse.warehouse.subject" required>
	                                    <div ng-messages="submitForm.subject.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Subject field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Address Street</label>
										<input type="text" name="street" ng-model="vm.warehouse.warehouse.street">
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Address City</label>
										<input type="text" name="city" ng-model="vm.warehouse.warehouse.city">
									</md-input-container>
                                </div>

								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Address Province</label>
										<input type="text" name="province" ng-model="vm.warehouse.warehouse.province">
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Address Country </label>
										<input type="text" name="country" ng-model="vm.warehouse.warehouse.country">
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Address Postalcode</label>
										<input type="text" name="postalcode" ng-model="vm.warehouse.warehouse.postalcode">
									</md-input-container>
                                </div>

								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Description</label>
										<input type="text" name="description" ng-model="vm.warehouse.warehouse.description">
									</md-input-container>
                                </div>
							<div class="actions" layout="row" layout-align="start center">
	                            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Save"
	                                       ng-disabled="submitForm.$invalid || submitForm.$pristine"
	                                       translate="Save" translate-attr-aria-label="Save">
	                                Save
	                            </md-button>
<!--                             	<md-button ng-click="vm.viewWarehousePage(vm.warehouse.warehouse.id)" class="md-raised md-accent">View</md-button>
 -->							</div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>			
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>




<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newCustomerPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button ng-click="vm.newWarehousePage()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->