/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


md-checkbox .md-container {
    margin-top: 7px;
}

.dataTables_wrapper .bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

md-dialog md-dialog-content {
    padding: 0;
}
