<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a ng-click="vm.InvoicesPage()" href="">Order Management </a>&nbsp; / &nbsp;<a ng-click="vm.InvoicesPage()" href="">Invoice </a> </span>&nbsp; / &nbsp; View
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>ID</label>
										<input type="text" value="{{sales_order_invoice_data.code}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input type="text" value="{{sales_order_invoice_data.name}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Order ID</label>
										<input type="text" value="{{sales_order_invoice_data.order_code}}" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Order Date</label>
                                        <input type="text" value="{{sales_order_invoice_data.status}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Status</label>
										<input type="text" value="2946 Luke Lane" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Cancelled At</label>
										<input type="text" value="{{sales_order_invoice_data.cancelled_at}}" >
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Cancellation Reason</label>
										<input type="text" value="{{sales_order_invoice_data.cancel_reason}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Payed At</label>
										<input type="text" value="{{sales_order_invoice_data.paid_at}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Payment Method</label>
										<input type="text" value="{{sales_order_invoice_data.payment_method}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Refunded At</label>
										<input type="text" value="{{sales_order_invoice_data.refunded_at}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex="33">
										<label>Subtotal </label>
                                        <input type="text" value="{{sales_order_invoice_data.subtotal}}" disabled>
                                    </md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Tax </label>
                                        <input type="text" value="{{sales_order_invoice_data.tax}}" disabled>
                                    </md-input-container>

                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Shipping</label>
										<input  type="text" value="{{sales_order_invoice_data.shipping_name}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Discount</label>
										<input  type="text" value="{{sales_order_invoice_data.discount}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Total</label>
										<input  type="text" value="{{sales_order_invoice_data.grand_total}}" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Customer</label>
										<input  type="text" value="{{sales_order_invoice_data.customer}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Contact</label>
										<input  type="text" value="{{sales_order_invoice_data.contact}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
									</md-input-container>
                                </div>

                                
                        </form>
<!-- 						<div class="actions" layout="row" layout-align="start center" >
							<md-button ng-click="vm.editSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Delete</md-button>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Buyer Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Buyer ID</label>
										<input type="text" value="{{sales_order_invoice_data.buyer_id}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Name</label>
										<input type="text" value="{{sales_order_invoice_data.buyer_name}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
										<input type="text" value="{{sales_order_invoice_data.buyer_email}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Phone</label>
										<input type="text" value="{{sales_order_invoice_data.buyer_phone_number}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
<!-- 						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Delete</md-button>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Shipping Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Shipping Paid</label>
										<input type="text" value="{{sales_order_invoice_data.shipped}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Shipping Cost</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_price}}" disabled>
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Receiver Name</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_name}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Receiver Address Street</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_address_line_1}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>City</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_city}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>State</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_state}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Postal Code</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_postal_code}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Country</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_country}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Phone</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_phone}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Tracking</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_tracking_code}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Notes</label>
										<input type="text" value="{{sales_order_invoice_data.shipping_notes}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						
<!-- 						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Delete</md-button>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Item Details</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Name</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Quantity</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Price</span>
										</div>
									</th>
<!-- 									<th class="secondary-text">
										<div class="">
											<span class="column-title">Action</span>
										</div>
									</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in sales_order_invoice_data.items">
									<td></td>
									<td>{{item.item_price}}</td>
									<td>{{item.quantity}}</td>
									<td>{{item.item_price * item.quantity}}</td>
<!-- 									<td>
										<a href="">
										   <md-icon md-font-icon="icon-delete" class="s16"></md-icon>
										</a>
									</td> -->
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td class="secondary-text7">
										
									</td>
									<td class="secondary-text7">
										Total
									</td>
									<td class="secondary-text7">
										{{ sales_order_invoice_data.total_quantity }}
									</td>
									<td class="secondary-text7">
										{{ sales_order_invoice_data.total_price }}
									</td>
<!-- 									<td class="secondary-text7">
										
									</td> -->
								</tr>
							</tfoot>
						</table>
						<div class="actions" layout="row" layout-align="start center">
<!-- 							<md-button class="md-raised md-accent">ADD</md-button>
 -->						</div>
					</div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Other Fee</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Marketplace Fee</label>
										<input type="text" value="{{sales_order_invoice_data.marketplace_fee}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Processing Fee</label>
										<input type="text" value="{{sales_order_invoice_data.processing_fee}}" disabled>
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Acquisition Cost</label>
										<input type="text" value="{{sales_order_invoice_data.acquisition_cost}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Profit Share Deductions</label>
										<input type="text" value="{{sales_order_invoice_data.profit_share_deductions}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Net</label>
										<input type="text" value="{{sales_order_invoice_data.net}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						
<!-- 						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Delete</md-button>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="{{sales_order_invoice_data.created_at}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="{{sales_order_invoice_data.created_by}}" disabled>
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified</label>
										<input type="text" value="{{sales_order_invoice_data.updated_at}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="{{sales_order_invoice_data.updated_by}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
<!-- 						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteSalesOrderInvoice(sales_order_invoice_data.id)" class="md-raised md-accent">Delete</md-button>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
    <!-- / CONTENT -->

</div>

<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newCustomerPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button ng-click="vm.deleteSalesOrderInvoice(sales_order_invoice_data.id)" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button ng-click="vm.editSalesOrderInvoice(sales_order_invoice_data.id)" aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button ng-click="vm.newSalesOrderInvoice()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->
