<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a ng-click="vm.EmployeesPage()" href="">HR </a> / <a ng-click="vm.EmployeesPage()" href="">Employees </a> </span> / New
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Personnal Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form ng-submit="vm.saveEmployee()" name="submitForm" novalidate>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Salutation</label>
                                        <md-select name="salutation" ng-model="vm.employee.employee_attributes.salutation">
                                            <md-option ng-repeat="salutation in ['Mr.', 'Ms.', 'Mrs.', 'Prof.', 'Dr.']" value="{{salutation}}">
                                                {{salutation}}
                                            </md-option>
                                        </md-select>
	                                    <div ng-messages="submitForm.salutation.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Salutation field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>First Name</label>
										<input ng-model="vm.employee.first_name" name="first_name" type="text" required>
	                                    <div ng-messages="submitForm.first_name.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >First Name field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Middle Name</label>
										<input ng-model="vm.employee.middle_name" name="middle_name" type="text">
	                                    <div ng-messages="submitForm.middle_name.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Middle Name field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Last Name</label>
                                        <input ng-model="vm.employee.last_name" name="last_name" type="text" required>
	                                    <div ng-messages="submitForm.last_name.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Last Name field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Date Of Birth</label>
                                        <md-datepicker md-open-on-focus onkeydown="return false"  name="date_of_birth" ng-model="vm.employee.employee_attributes.date_of_birth" md-placeholder=""></md-datepicker>
	                                    <div ng-messages="submitForm.date_of_birth.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Date Of Birth field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Gender</label>
                                        <md-select ng-model="vm.employee.employee_attributes.gender" name="gender">
                                            <md-option ng-repeat="gender in ['Male', 'Female', 'Other']" value="{{gender}}">
                                                {{gender}}
                                            </md-option>
                                        </md-select>
	                                    <div ng-messages="submitForm.gender.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Gender field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>B. Group</label>
										<input ng-model="vm.employee.employee_attributes.b_group" name="b_group" type="text">
	                                    <div ng-messages="submitForm.b_group.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >B. Group field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Nationality</label>
										<input ng-model="vm.employee.employee_attributes.nationality" name="nationality" type="text">
	                                    <div ng-messages="submitForm.nationality.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Nationality field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Religion</label>
										<input ng-model="vm.employee.employee_attributes.religion" name="religion" type="text">
	                                    <div ng-messages="submitForm.religion.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Religion field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Marital Status</label>
                                        <md-select ng-model="vm.employee.employee_attributes.marital_status" name="marital_status">
                                            <md-option ng-repeat="status in ['Married', 'Unmarried']" value="{{status}}">
                                                {{status}}
                                            </md-option>
                                        </md-select>
	                                    <div ng-messages="submitForm.marital_status.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Marital Status field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
										<input type="text" name="email" ng-model="vm.employee.email" ng-pattern="/^.+@.+\..+$/" required>
                                        <div ng-messages="submitForm.email.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Email field is required</span>
                                            </div>
                                            <div ng-message="pattern">
                            					<span translate="LOGIN.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        					</div>
                                        </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Mobile</label>
										<input ng-model="vm.employee.employee_attributes.mobile" name="mobile" type="text" required numbers-only>
	                                    <div ng-messages="submitForm.mobile.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Mobile field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Phone Office</label>
										<input ng-model="vm.employee.employee_attributes.phone_office" name="phone_office" type="text" numbers-only>
	                                    <div ng-messages="submitForm.phone_office.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Phone Office field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Phone Home</label>
										<input ng-model="vm.employee.employee_attributes.phone_home" name="phone_home" type="text" numbers-only>
	                                    <div ng-messages="submitForm.phone_home.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Phone Home field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<input name="photo" type = "file" file-model="vm.employee.employee_attributes.photo" accept="image/*" />
	                                    <div ng-messages="submitForm.photo.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Phone Home field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address Street</label>
										<input ng-model="vm.employee.employee_attributes.permanent_address_street" name="permanent_address_street" type="text">
	                                    <div ng-messages="submitForm.permanent_address_street.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Permanent Address Street field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address City</label>
										<input ng-model="vm.employee.employee_attributes.permanent_address_city" name="permanent_address_city" type="text">
	                                    <div ng-messages="submitForm.permanent_address_city.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Permanent Address City field is required</span>
	                                        </div>
	                                    </div>									
	                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address State</label>
										<input ng-model="vm.employee.employee_attributes.permanent_address_state" name="permanent_address_state" type="text">
	                                    <div ng-messages="submitForm.permanent_address_state.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Permanent Address State field is required</span>
	                                        </div>
	                                    </div>	
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address Postalcode</label>
										<input ng-model="vm.employee.employee_attributes.permanent_address_postalcode" name="permanent_address_postalcode" type="text">
	                                    <div ng-messages="submitForm.permanent_address_postalcode.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Permanent Address Postalcode field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address Country</label>
										<input ng-model="vm.employee.employee_attributes.permanent_address_country" name="permanent_address_country" type="text">
	                                    <div ng-messages="submitForm.permanent_address_country.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Permanent Address Country field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address Street</label>
										<input ng-model="vm.employee.employee_attributes.resident_address_street" name="resident_address_street" type="text">
	                                    <div ng-messages="submitForm.resident_address_street.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Resident Address Street field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address City</label>
										<input ng-model="vm.employee.employee_attributes.resident_address_city" name="resident_address_city" type="text">
	                                    <div ng-messages="submitForm.resident_address_city.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Resident Address City field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address State</label>
										<input ng-model="vm.employee.employee_attributes.resident_address_state" name="resident_address_state" type="text">
	                                    <div ng-messages="submitForm.resident_address_state.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Resident Address State field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address Postalcode</label>
										<input ng-model="vm.employee.employee_attributes.resident_address_postalcode" name="resident_address_postalcode" type="text">
	                                    <div ng-messages="submitForm.resident_address_postalcode.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Resident Address Postalcode field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address Country</label>
										<input ng-model="vm.employee.employee_attributes.resident_address_country" name="resident_address_country" type="text">
	                                    <div ng-messages="submitForm.resident_address_country.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Resident Address Country field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									
                                </div>
								
                        
						<div class="actions" layout="row" layout-align="start center">
                            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Save"
                                       ng-disabled="submitForm.$invalid || submitForm.$pristine"
                                       translate="Save" translate-attr-aria-label="Save">
                                Save
                            </md-button>
							<md-button ng-click="vm.employeeDataClear()" class="md-raised md-accent">Clear</md-button>
						</div>
						</form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Designation</label>
										<input ng-model="vm.employee.employee_attributes.designation" type="text">
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Department</label>
										<input type="text" ng-model="vm.employee.employee_attributes.department" >
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Type</label>
                                        <md-select ng-model="vm.employee.employee_attributes.e_type">
                                            <md-option ng-repeat="e_type in ['Permanent', 'Contract']" value="{{e_type}}">
                                                {{e_type}}
                                            </md-option>
                                        </md-select>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>

									<md-input-container class="md-block" flex="33">
										<label>Work Shift</label>
                                        <md-select ng-model="vm.employee.employee_attributes.work_shift">
                                            <md-option ng-repeat="work_shift in ['Regular', 'Shift 1', 'Shift 2', 'Rotational']" value="{{work_shift}}">
                                                {{work_shift}}
                                            </md-option>
                                        </md-select>
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Reporting Person</label>
										<input type="text" ng-model="vm.employee.employee_attributes.reporting_person">
									</md-input-container>
                                    <md-input-container class="md-block" flex="33">
										<label>Date Of Joining</label>
                                        <md-datepicker ng-model="vm.employee.employee_attributes.date_of_joining"></md-datepicker>
									</md-input-container>
                                </div>
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.saveEmployee()" class="md-raised md-accent">Save</md-button>
							<md-button ng-click="vm.employeeDataClear()" class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Login Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Allow Login</label>
                                        <md-select ng-model="vm.employee.employee_attributes.allow_login">
                                            <md-option ng-repeat="allow_login in ['On', 'Off']" value="{{allow_login}}">
                                                {{allow_login}}
                                            </md-option>
                                        </md-select>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
										<input type="text" name="email" ng-model="vm.employee.email" ng-pattern="/^.+@.+\..+$/" required>
                                        <div ng-messages="submitForm.email.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Email field is required</span>
                                            </div>
                                            <div ng-message="pattern">
                            					<span translate="LOGIN.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        					</div>
                                        </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Password</label>
										<input type="password" ng-model="vm.employee.password">
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Retype Password</label>
										<input type="password" ng-model="vm.employee.password_confirmation">
									</md-input-container>
									
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.saveEmployee()" class="md-raised md-accent">Save</md-button>
							<md-button ng-click="vm.employeeDataClear()" class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>


<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newCustomerPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->