<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a ng-click="vm.ManufacturingsPage()" href="">Manufacturing Management </a>&nbsp; / &nbsp;<a ng-click="vm.ManufacturingsPage()" href="">Manufacturing </a> </span>&nbsp; / &nbsp; View
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                       <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>ID</label>
										<input type="text" value="{{manufacturing_data.code}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input type="text" value="{{manufacturing_data.subject}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Description</label>
										<input type="text" value="{{manufacturing_data.description}}" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex>
										<label>Status</label>
										<input type="text" value="{{manufacturing_data.status}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Start Date</label>
										<input type="text" value="{{manufacturing_data.start_date}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Expected Completion Date</label>
										<input type="text" value="{{manufacturing_data.expected_completion_date}}" disabled>
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container flex>
										<label>Type</label>
										<input type="text" value="{{manufacturing_data.m_type}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Quantity</label>
										<input type="text" value="{{manufacturing_data.quantity}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Stock Item</label>
										<input type="text" value="{{manufacturing_data.item}}" disabled>
									</md-input-container>

                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Sales Order </label>
                                        <input type="text" value="{{manufacturing_data.sales_order}}" disabled>
									</md-input-container>
                                </div>
								
								
<!-- 								<div class="actions" layout="row" layout-align="start center">
									<md-button ng-click="vm.editManufacturingPage(manufacturing_data)" class="md-raised md-accent">Edit</md-button>
									<md-button ng-click="vm.deleteManufacturing(manufacturing_data.id)" class="md-raised md-accent">delete</md-button>
								</div> -->
                    </div>
                </md-tab-body>
            </md-tab>

			<md-tab>
                <md-tab-label>
                    <span>QA Check List</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table>
							<thead>
								<tr>
									<th class="qa-check">No.</th>
									<th class="qa-check1">QA Check</th>
									<th class="qa-check2">Passed?</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="qa_check in manufacturing_data.qa_check_list">
									<td>000{{$index}}</td>
									<td>{{qa_check.name}}</td>
									<td class="qa-check-td">
										<md-checkbox ng-model="qa_check.passed" aria-label="Checkbox 1" disabled></md-checkbox>
									</td>
									<td class="qa-check-td1">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="{{manufacturing_data.created_at}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="{{manufacturing_data.created_by}}" disabled>
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified</label>
										<input type="text" value="{{manufacturing_data.updated_at}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="{{manufacturing_data.updated_by}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						
<!-- 									<md-button ng-click="vm.editManufacturingPage(manufacturing_data)" class="md-raised md-accent">Edit</md-button>
									<md-button ng-click="vm.deleteManufacturing(manufacturing_data.id)" class="md-raised md-accent">delete</md-button> -->
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Fail History</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">ID</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Subject</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Status</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Quantity</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Date Modified</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Modified By</span>
										</div>
									</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="history in manufacturing_data.manufacturing_histories">
									<td>{{history.code}}</td>
									<td>{{history.subject}}</td>
									<td>{{history.status}}</td>
									<td>{{history.quantity}}</td>
									<td>{{history.created_at}}</td>
									<td>{{history.created_by}}</td>
								</tr>
							</tbody>
						</table>
						<div class="actions" layout="row" layout-align="start center">
						</div>
					</div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Materials</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="">
											<span class="column-title">#</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">ID</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Name</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Unit</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Quantity</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Price</span>
										</div>
									</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="material in manufacturing_data.materials">
		                            <td><md-checkbox ng-model="material.checked" aria-label="Checkbox 1">
										</md-checkbox>
									</td>
									<td>{{material.code}}</td>
		                            <td><a ng-click="vm.viewMaterialPage(material.id)" href="">{{material.name}}</a></td>
		                            <td>{{material.unit}}</td>
									<td>{{material.quantity}}</td>
									<td>{{material.price}}</td>
								</tr>
							</tbody>
						</table>
						<div class="actions" layout="row" layout-align="start center">
                			<md-button ng-click="vm.deleteAllMaterial()" class="md-raised md-accent">Delete</md-button>
							<md-button ng-click="vm.newMaterialPage()" class="md-raised md-accent">Add</md-button>
						</div>
					</div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>

<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newManufacturingPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button ng-click="vm.deleteManufacturing(manufacturing_data.id)" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button ng-click="vm.editManufacturingPage(manufacturing_data)" aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button ng-click="vm.newManufacturingPage()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->
