<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">Inventory Management </a>&nbsp; / &nbsp;<a href="">Item category </a> </span>&nbsp; / &nbsp; Edit
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form ng-submit="vm.updateCategory()" name="editCategoryForm" novalidate> 
                            <div layout="column" layout-gt-xs="row" flex>
								<md-input-container class="md-block" flex-gt-sm>
									<label>Category Name</label>
									<input type="text" name="name" ng-model="vm.category.category.name" required>
                                    <div ng-messages="editCategoryForm.name.$error" role="alert">
                                        <div ng-message="required">
                                            <span >Category Name field is required</span>
                                        </div>
                                    </div>
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm>
									<label>Unit</label>
									<input type="text" name="unit" ng-model="vm.category.category.unit" required>
                                    <div ng-messages="editCategoryForm.unit.$error" role="alert">
                                        <div ng-message="required">
                                            <span >Unit field is required</span>
                                        </div>
                                    </div>
								</md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
									<label>Tax</label>
									<input type="text" name="tax" ng-model="vm.category.category.tax" required>
                                    <div ng-messages="editCategoryForm.tax.$error" role="alert">
                                        <div ng-message="required">
                                            <span >Tax field is required</span>
                                        </div>
                                    </div>								
                                    </md-input-container>
                            </div>
							<div layout="column" layout-gt-xs="row" flex>
                                <md-input-container class="md-block" flex-gt-sm>
									<label>Description</label>
									<input type="text" name="description" ng-model="vm.category.category.description" required>
                                    <div ng-messages="editCategoryForm.description.$error" role="alert">
                                        <div ng-message="required">
                                            <span >Description field is required</span>
                                        </div>
                                    </div>									
                                    </md-input-container>
                            </div>
							<div layout="column" layout-gt-xs="row" flex>
                                <md-input-container class="md-block" flex-gt-sm>
									<label>Manufacturer</label>
									<input type="text" name="manufacturer" ng-model="vm.category.category.manufacturer" required>
                                    <div ng-messages="editCategoryForm.manufacturer.$error" role="alert">
                                        <div ng-message="required">
                                            <span >Manufacturer field is required</span>
                                        </div>
                                    </div>									
                                    </md-input-container>
                            </div>
						<div class="actions" layout="row" layout-align="start center">
                            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Save"
                                       ng-disabled="editCategoryForm.$invalid || editCategoryForm.$pristine"
                                       translate="Save" translate-attr-aria-label="Save">
                                Save
                            </md-button>
<!--                             <md-button ng-click="vm.viewItemCategoryPage(vm.category.category.id)" class="md-raised md-accent">View</md-button>
 -->						</div>
						                        </form>

                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>


<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newCustomerPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button ng-click="vm.newItemCategoryPage()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->