<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a ng-click="vm.PurchaseOrdersPage()" href="">Inventory Management </a>&nbsp; / &nbsp;<a ng-click="vm.PurchaseOrdersPage()" href="">Purchase Order </a> </span>&nbsp; / &nbsp; Edit
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form ng-submit="vm.updatePurchaseOrder()" name="newSupplierForm" novalidate>
                            <div layout="column" layout-gt-xs="row" flex>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input name="subject" ng-model="purchase_order.subject" type="text" required>
	                                    <div ng-messages="newSupplierForm.subject.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Subject field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Supplier</label>
                                        <md-select ng-model="purchase_order.supplier_user_id" name="supplier_user_id" required>
                                            <md-option ng-repeat="supplier in get_suppliers" value="{{supplier.supplier_id}}">
                                                {{supplier.name}}
                                            </md-option>
                                        </md-select>
	                                    <div ng-messages="newSupplierForm.supplier_user_id.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Supplier field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>

                                </div>
								<div layout="column" layout-gt-xs="row" flex>

									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subtotal</label>
										<input ng-model="purchase_order.sub_total" name="sub_total" type="text" required>
	                                    <div ng-messages="newSupplierForm.sub_total.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Subtotal field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Tax</label>
										<input ng-model="purchase_order.tax" name="tax" type="text" required>
	                                    <div ng-messages="newSupplierForm.tax.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Tax field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Grand Total</label>
										<input ng-model="purchase_order.grand_total" name="grand_total" type="text" required>
	                                    <div ng-messages="newSupplierForm.grand_total.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Grand Total field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>
									
                                </div>
								<div layout="row" layout-gt-xs="row" flex>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Description</label>
										<input ng-model="purchase_order.description" name="description"  type="text" required>
	                                    <div ng-messages="newSupplierForm.description.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Description field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>



                                </div>
                        
						
						<div class="actions" layout="row" layout-align="start center">
                            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Save"
                                       ng-disabled="newSupplierForm.$invalid || newSupplierForm.$pristine"
                                       translate="Save" translate-attr-aria-label="Save">
                                Save
                            </md-button>
<!--                             <md-button ng-click="vm.viewPurchaseOrderPage(purchase_order.id)" class="md-raised md-accent">View</md-button>	
 -->						</div>
						</form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>

<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newCustomerPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button ng-click="vm.newPurchaseOrderPage()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->