<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a ng-click="vm.LocationsPage()" href="">Warehouse Management </a>&nbsp; / &nbsp;<a ng-click="vm.LocationsPage()" href="">Stock Location </a> </span>&nbsp; / &nbsp; View
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Location ID</label>
										<input type="text" value="{{warehouse_location_data.code}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input type="text" value="{{warehouse_location_data.subject}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Row No</label>
                                        <input type="text" value="{{warehouse_location_data.row_no}}" disabled>
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>

									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Rack From</label>
										<input type="text" value="{{warehouse_location_data.rack_from}}" disabled>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Rack To</label>
										<input type="text" value="{{warehouse_location_data.rack_to}}" disabled>
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Status </label>
                                        <input type="text" value="{{warehouse_location_data.status}}" disabled>
									</md-input-container>
                                </div>
								
								<div layout="row" layout-gt-xs="row" flex>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Warehouse</label>
										<input type="text" value="{{warehouse_location_data.warehouse}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>SKU</label>
										<input type="text" value="{{warehouse_location_data.sku}}" disabled>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Description</label>
										<input type="text" value="{{warehouse_location_data.description}}" disabled>
									</md-input-container>
								</div>
								<div layout="column" layout-gt-xs="row" flex>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Asset</label>
                                        <disabled-tag-input ng-model="warehouse_location_data.asset" placeholder='add a Asset' taglist='warehouse_location_data.asset'></disabled-tag-input>
									</md-input-container>
								</div>
																
                        </form>
<!-- 						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editWarehouseLocationPage(warehouse_location_data)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteWarehouseLocation(warehouse_location_data.id)" class="md-raised md-accent">Delete</md-button>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>


            <md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="{{warehouse_location_data.created_at}}" disabled>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="{{warehouse_location_data.created_by}}" disabled>
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified</label>
										<input type="text" value="{{warehouse_location_data.updated_at}}" disabled>
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="{{warehouse_location_data.updated_by}}" disabled>
									</md-input-container>
									
                                </div>
								
                        </form>
						
<!-- 						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.editWarehouseLocationPage(warehouse_location_data)" class="md-raised md-accent">Edit</md-button>
							<md-button ng-click="vm.deleteWarehouseLocation(warehouse_location_data.id)" class="md-raised md-accent">Delete</md-button>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Items</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">

	                    <form ng-submit="vm.addItemWarehouseLocation()" name="submitForm" novalidate>
	                    	<div layout="column" layout-gt-xs="row" flex>
								<md-input-container class="md-block" flex-gt-sm>
									<label>Item</label>
	                                <md-select name="item_id" ng-model="vm.warehouse_location_item_data.item" ng-change="vm.changedItemValue(vm.warehouse_location_item_data.item)" required>
	                                    <md-option ng-repeat="item in get_items" value="{{item}}">
	                                        {{item.name}}
	                                    </md-option>
	                                </md-select>	
	                                <div ng-messages="submitForm.item_id.$error" role="alert">
	                                    <div ng-message="required">
	                                        <span >Item field is required</span>
	                                    </div>
	                                </div>
								</md-input-container>
	                            <md-input-container class="md-block" flex-gt-sm>
									<label>Ttem Instock</label>
									<input  ng-model="vm.warehouse_location_item_data.item_in_stock" name="item_in_stock" type="text" required>
								</md-input-container>
	                            <md-button type="submit" class="circlebtn md-raised md-accent" aria-label="Save"
	                                       ng-disabled="submitForm.$invalid || submitForm.$pristine"
	                                       translate="+" translate-attr-aria-label="Save">
	                                <md-icon class="plus-iconmanu" md-font-icon="icon-plus"></md-icon>
	                            </md-button>
	                        </div>
	                    </form>


						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item ID</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Name</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Instock</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Date Created</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Created By</span>
										</div>
									</th>
									<th class="secondary-text">
									</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="warehouse_location_item in warehouse_location_data.warehouse_location_items">
									<td>{{warehouse_location_item.code}}</td>
									<td>{{warehouse_location_item.name}}</td>
									<td>{{warehouse_location_item.item_in_stock}}</td>
									<td>{{warehouse_location_item.created_at}}</td>
									<td>{{warehouse_location_item.created_by}}</td>
									<td>
										<md-button ng-click="vm.deleteItem(warehouse_location_item.id)" class="md-icon-button">
											<md-icon md-font-icon="icon-delete"></md-icon>
										</md-button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>


<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newCustomerPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button ng-click="vm.deleteWarehouseLocation(warehouse_location_data.id)" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button ng-click="vm.editWarehouseLocationPage(warehouse_location_data)" aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button ng-click="vm.newWarehouseLocationPage()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->