<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">CRM </a>&nbsp; / &nbsp;<a href="">Contact </a> </span>&nbsp; / &nbsp; Edit
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Personal Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form ng-submit="vm.updateContact()" name="editContactForm" novalidate>
                            <div layout="column" layout-gt-xs="row" flex>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Salutation</label>
                                        <md-select name="salutation" ng-model="vm.contact.contact_attributes.salutation" required>
                                            <md-option ng-repeat="salutation in ['Mr.', 'Ms.', 'Mrs.', 'Prof.', 'Dr.']" value="{{salutation}}">
                                                {{salutation}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="editContactForm.salutation.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Salutation field is required</span>
                                            </div>
                                        </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>First Name</label>
										<input type="text" name="first_name" ng-model="vm.contact.first_name" required>
                                        <div ng-messages="editContactForm.first_name.$error" role="alert">
                                            <div ng-message="required">
                                                <span >First Name field is required</span>
                                            </div>
                                        </div>
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Middle Name</label>
                                        <input type="text" ng-model="vm.contact.middle_name">
                                    </md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>

									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Last name</label>
										<input type="text" name="last_name" ng-model="vm.contact.last_name" required>
                                        <div ng-messages="editContactForm.last_name.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Last Name field is required</span>
                                            </div>
                                        </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Phone Mobile</label>
										<input type="text" name="phone_mobile" ng-model="vm.contact.contact_attributes.phone_mobile" required>
                                        <div ng-messages="editContactForm.phone_mobile.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Phone Mobile field is required</span>
                                            </div>
                                        </div>
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Phone Work</label>
                                        <input type="text" name="phone_work" ng-model="vm.contact.contact_attributes.phone_work" required>
                                        <div ng-messages="editContactForm.phone_work.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Phone Work field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>

									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
										<input type="text" name="email" ng-model="vm.contact.email" ng-pattern="/^.+@.+\..+$/" required>
                                        <div ng-messages="editContactForm.email.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Email field is required</span>
                                            </div>
                                            <div ng-message="pattern">
                            					<span translate="LOGIN.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        					</div>
                                        </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Customer</label>
                                        <md-select name="customer_id" ng-model="vm.contact.contact_attributes.customer_id" required>
                                            <md-option ng-repeat="customer in vm.get_customers" value="{{customer.customer_id}}">
                                                {{customer.name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="editContactForm.customer_id.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Customer field is required</span>
                                            </div>
                                        </div>
										<md-icon md-font-icon="icon-arrow-top-right"></md-icon>
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Designation</label>
                                        <input type="text" name="designation" ng-model="vm.contact.contact_attributes.designation" required>
                                        <div ng-messages="editContactForm.designation.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Designation field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
									<md-input-container class="md-block" flex="33">
										<label>Department</label>
										<input type="text" name="department" ng-model="vm.contact.contact_attributes.department" required>
                                        <div ng-messages="editContactForm.department.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Department field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
                                        <label>Description</label>
                                        <input type="text" name="decription" ng-model="vm.contact.contact_attributes.decription" required>
                                        <div ng-messages="editContactForm.decription.$error" role="alert">
                                            <div ng-message="required">
                                                <span >Description field is required</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                        
						<div class="actions" layout="row" layout-align="start center">
                            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Save"
                                       ng-disabled="editContactForm.$invalid || editContactForm.$pristine"
                                       translate="Save" translate-attr-aria-label="Save">
                                Save
                            </md-button>
							<md-button ng-click="vm.viewContactPage(vm.contact.contact_attributes.id)" class="md-raised md-accent">View</md-button>
						</div>
					</form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Address Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Primary Address Street</label>
										<input type="text" ng-model="vm.contact.contact_attributes.primary_street">
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Primary Address City</label>
										<input type="text" ng-model="vm.contact.contact_attributes.primary_city">
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Primary Address State</label>
										<input type="text" ng-model="vm.contact.contact_attributes.primary_state">
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Primary Address Country</label>
										<input type="text" ng-model="vm.contact.contact_attributes.primary_country">
									</md-input-container>
									
									<md-input-container class="md-block" flex="33">
										<label>Primary Address Postal Code</label>
										<input type="text" ng-model="vm.contact.contact_attributes.primary_postal_code">
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Alt Address Street</label>
                                        <input type="text" ng-model="vm.contact.contact_attributes.alternative_street">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Alt Address City</label>
										<input type="text" ng-model="vm.contact.contact_attributes.alternative_city">
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Alt Address State</label>
										<input type="text" ng-model="vm.contact.contact_attributes.alternative_state">
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
                                        <label>Alt Address Country</label>
                                        <input type="text" ng-model="vm.contact.contact_attributes.alternative_country">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="33">
										<label>Alt Address Postal Code</label>
										<input type="text" ng-model="vm.contact.contact_attributes.alternative_postal_code">
									</md-input-container>
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.updateContact()" class="md-raised md-accent">Save</md-button>
							<md-button ng-click="vm.viewContactPage(vm.contact.contact_attributes.id)" class="md-raised md-accent">View</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
    <!-- / CONTENT -->

</div>

<!-- ADD BUTTON -->
	<div class="add-btn-fixed">
		<md-button class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div>
<!-- / ADD BUTTON -->