<div id="forms" class="page-layout simple fullwidth doc-page" layout="column" style="min-height:auto;">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal;" class="parent"> <a href="">HR</a> </span> &nbsp; / &nbsp; Expenses Report
            </div>
        </div>
    </div>
    <!-- / HEADER -->
</div>



<div style="height:auto; min-height:auto; margin-top:20px; margin-bottom: -20px;" class="page-layout carded fullwidth" layout="row">
    <!-- CENTER -->
    <div class="center" layout="row" flex>
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
			<div style="padding:20px 20px 0px 20px; font-size:18px;">
				<div layout="column" layout-gt-xs="row">
					<md-input-container flex>
						<md-icon md-font-icon="icon-magnify"></md-icon>
						<label>Search</label>
                        <input ng-keyup="$event.keyCode == 13 && vm.searchExpenseData()" ng-model="vm.search_data.search_text">
						<md-icon ng-model="collapsed" ng-click="collapsed=!collapsed" md-font-icon="icon-chevron-down"></md-icon>
						<div style="padding-top:49px;" ng-show="collapsed">
							<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Employee</label>
                                    <md-select ng-model="vm.search_data.employee_id">
                                        <md-option ng-repeat="employee in get_employees" value="{{employee.employee_id}}">
                                            {{employee.name}}
                                        </md-option>
                                    </md-select> 							</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Range - From</label>
										<md-datepicker ng-model="vm.search_data.from_date" md-placeholder="Date Created"></md-datepicker>
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Range - To</label>
										<md-datepicker ng-model="vm.search_data.to_date" md-placeholder="Date Created"></md-datepicker>
									</md-input-container>
                                </div>							
						</div>
					</md-input-container>
                </div>
				
			</div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div style="height:auto; min-height:auto;" class="page-layout carded fullwidth" layout="row">
    <!-- CENTER -->
    <div class="center" layout="row" flex>
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
		
			<div style="padding:20px 20px 0px 20px; font-size:18px;" class="actions" layout="row" layout-align="end center">
				<md-button ng-csv="table_data" filename="test.csv" class="md-raised md-accent">Export to CSV</md-button>
                <md-button ng-click="vm.pdfExpenseData()" class="md-raised md-accent">Export to PDF</md-button>
			</div>
			
            <div style="padding:20px 20px 0px 20px; font-size:18px;">
                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <div>
                                <!-- <div class="actions" layout="row" layout-align="start center">
                                    <md-button ng-click="vm.searchExpenseData()" class="md-raised md-accent">Update Filter</md-button>
                                    <md-button ng-click="vm.searchExpenseDataClear()" class="md-raised md-accent">Clear Filter</md-button>
                                    <md-button ng-csv="table_data" filename="test.csv" class="md-raised md-accent">Export to CSV</md-button>
                                    <md-button ng-click="vm.pdfExpenseData()" class="md-raised md-accent">Export to PDF</md-button>
                                </div>  -->                             
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

<div id="e-commerce-orders" class="page-layout carded fullwidth" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
			
			<div style="padding:25px; font-size:18px;"> Expenses Report </div>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">EXP - ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Subject</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Employee</span>
                                </div>
                            </th>
                            
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Amount</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Date Created </span>
                                </div>
                            </th>
							<th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Created By </span>
                                </div>
                            </th>
							
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="expense in expenses_data">
                            
                            <td>{{expense.code}}</td>
                            <td>{{expense.subject}}</td>
							<td>{{expense.employee}}</td>
                            
							<td>{{expense.amount}}</td>
							<td>{{expense.status}}</td>
							<td>{{expense.created_at}}</td>
                            <td>{{expense.created_by}}</td>
                            
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->
			

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
