<div id="forms" class="page-layout simple fullwidth doc-page" layout="column" style="min-height:auto;">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal;" class="parent"> <a href="">HR</a> </span>&nbsp; / &nbsp; Sales Report
            </div>
        </div>
    </div>
    <!-- / HEADER -->
</div>


<div id="dashboard-ecommerce" class="page-layout blank" layout="row">

    <!-- CENTER -->
    <div class="center" flex ms-scroll>

        <!-- CONTENT -->
        <div class="content">

          
            <!-- WIDGET GROUP -->
            <div class="widget-group" layout="row" flex="100" layout-wrap>

                <!-- WIDGET 5 -->
                <ms-widget layout="row" flex="100">

                    <!-- Front -->
                    <ms-widget-front class="white-bg">
                        <div class="ph-16 pv-8 border-bottom" layout="row" layout-align="space-between center"
                             layout-wrap>
                            <div class="pv-8 h3">Sales Report</div>

                            <div class="pv-8" layout="row" layout-align="start center" layout-align-sm="end"
                                 flex-sm="100">
                                <md-button class="ph-16"
                                           ng-repeat="group in ['Day','Month','Year']"
                                           ng-click="vm.changedGroupValue(group)"
                                           ng-disabled="vm.search_data.group == group">
                                    {{group}}
                                </md-button>
                            </div>
                        </div>

                        <div class="p-16">
							
							<div layout="column" layout-gt-xs="row" flex>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Filters</label>
                                        <md-select ng-model="vm.search_data.filter" ng-change="vm.changedFiltersValue()">
                                            <md-option ng-repeat="marketplace in ['Etsy','Amazon','eBay','Shopify']" value="{{marketplace}}">
                                                {{marketplace}}
                                            </md-option>
                                        </md-select>
									</md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<md-datepicker ng-model="vm.search_data.start_date" md-placeholder="Start Date" ng-change="vm.changedDateValue()"></md-datepicker>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<md-datepicker ng-model="vm.search_data.end_date" md-placeholder="End Date" ng-change="vm.changedDateValue()"></md-datepicker>
									</md-input-container>
                                </div>
							
                            <div zingchart id="myChart" zc-json="myConfig" zc-height=600 zc-width=900></div>
                        </div>
                    </ms-widget-front>
                    <!-- / Front -->

                </ms-widget>
                <!-- / WIDGET 5 -->

            </div>
            <!-- / WIDGET GROUP -->

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>

