<div id="forms" class="page-layout simple fullwidth doc-page" layout="column" style="min-height:auto;">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal;" class="parent"> <a href="">HR</a> </span>&nbsp; / &nbsp; Timeclock
            </div>
        </div>
    </div>
    <!-- / HEADER -->
</div>


<div style="height:auto; min-height:auto; margin-top:20px; margin-bottom: -20px;" class="page-layout carded fullwidth" layout="row">
    <!-- CENTER -->
    <div class="center" layout="row" flex>
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
			<div style="padding:20px 20px 0px 20px; font-size:18px;">
				<div layout="column" layout-gt-xs="row">
				
					
					<md-input-container flex>
						<md-icon ng-click="vm.searchTimeclockData()" md-font-icon="icon-magnify"></md-icon>
						<label>Search</label>
						<input ng-model="vm.search_data.search">
						<md-icon ng-model="collapsed" ng-click="collapsed=!collapsed" md-font-icon="icon-chevron-down"></md-icon>
					
						<div style="padding-top:49px;" ng-show="collapsed">
							<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>ID</label>
										<input ng-model="vm.search_data.code">
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input ng-model="vm.search_data.subject">
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Employee</label>
                                    <md-select ng-model="vm.search_data.employee_id">
                                        <md-option ng-repeat="employee in get_employees" value="{{employee.employee_id}}">
                                            {{employee.name}}
                                        </md-option>
                                    </md-select>    									</md-input-container>
                                </div>
                                <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Created By</label>
                                    <md-select ng-model="vm.search_data.created_by_id">
                                        <md-option ng-repeat="user in get_users" value="{{user.id}}">
                                            {{user.name}}
                                        </md-option>
                                    </md-select>                                     </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Date Created </label>
                                        <md-datepicker ng-model="vm.search_data.created_at" md-placeholder="Date Created"></md-datepicker>
                                    </md-input-container>
                                </div>
								
								<div class="actions" layout="row" layout-align="start center">
                                    <md-button ng-click="vm.searchTimeclockData()" class="md-raised md-accent">Search</md-button>
                                    <md-button ng-click="vm.searchTimeclockDataClear()" class="md-raised md-accent">Clear</md-button>
								</div>							
						</div>
					
					</md-input-container>
					
					
                </div>
				
			</div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>



<div id="e-commerce-orders" class="page-layout carded fullwidth" layout="row">

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
			
			<div style="padding:25px; font-size:18px;"> Timeclock </div>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="">
                                    <span class="column-title">#</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">ID</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Subject</span>
                                </div>
                            </th>
                            
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Employee</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Date</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Created By </span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="timeclock in timeclocks_data">
                            <td><md-checkbox ng-model="timeclock.checked" aria-label="Checkbox 1">
								</md-checkbox>
							</td>
                            <td><a ng-click="vm.viewTimeclockPage(timeclock.id)" href="">{{timeclock.code}}</a></td>
                            <td>{{timeclock.subject}}</td>
                            <td>{{timeclock.employee}}</td>
                            <td>{{timeclock.created_at}}</td>
                            <td>{{timeclock.created_by}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->
			<div class="actions" layout="row" layout-align="start center">
                <md-button ng-click="vm.deleteAllTimeclock()" class="md-raised md-accent">Delete</md-button>
			</div>

        </div>
        <!-- // CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>


<!-- ADD BUTTON -->
	<div class="add-btn-fixed">
		<md-button ng-click="vm.newTimeclockPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div>
<!-- / ADD BUTTON -->