<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">HR </a> / <a href="">Employees </a> </span> / Edit
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Personnal Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Salutation</label>
										<input type="text" value="CUS0001">
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>First Name</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Middle Name</label>
										<input type="text" value="580-269-9087" >
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Last Name</label>
                                        <input type="text" value="Lola J Bolden" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Date Of Birth</label>
										<input type="text" value="2946 Luke Lane" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Gender</label>
										<input type="text" value="Kaw City" >
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>B. Group</label>
                                        <input type="text" value="Lola J Bolden" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Nationality</label>
										<input type="text" value="2946 Luke Lane" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Religion</label>
										<input type="text" value="Kaw City" >
									</md-input-container>
                                </div>
								
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Marital Status</label>
                                        <input type="text" value="Lola J Bolden" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
										<input type="text" value="2946 Luke Lane" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Mobile</label>
										<input type="text" value="Kaw City" >
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Phone Office</label>
                                        <input type="text" value="Lola J Bolden" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Phone Home</label>
										<input type="text" value="2946 Luke Lane" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Photo</label>
										<input type="text" value="Kaw City" >
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address Street</label>
                                        <input type="text" value="Lola J Bolden" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address City</label>
										<input type="text" value="2946 Luke Lane" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address State</label>
										<input type="text" value="Kaw City" >
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address Postalcode</label>
                                        <input type="text" value="Lola J Bolden" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Permanent Address Country</label>
										<input type="text" value="2946 Luke Lane" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address Street</label>
										<input type="text" value="Kaw City" >
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address City</label>
                                        <input type="text" value="Lola J Bolden" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address State</label>
										<input type="text" value="2946 Luke Lane" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address Postalcode</label>
										<input type="text" value="Kaw City" >
									</md-input-container>
                                </div>
								
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Resident Address Country</label>
                                        <input type="text" value="Lola J Bolden" >
									</md-input-container>
									
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Employee ID</label>
										<input type="text" value="$525" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Designation</label>
										<input type="text" value="$5648" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Department</label>
										<input type="text" value="Lorem Ipsum" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Type</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Work Shift</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Reporting Person</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Date Of Joining</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Login Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Allow Login</label>
										<input type="text" value="$525" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
										<input type="text" value="$5648" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Password</label>
										<input type="text" value="Lorem Ipsum" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Retype Password</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="22/12/2016" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified</label>
										<input type="text" value="12/01/2017" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									
                                </div>
								
                        </form>
						
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
			
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>