<div id="forms" class="page-layout simple fullwidth doc-page" layout="column" style="min-height:auto;">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div style="margin-bottom:20px;" layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff;" class="parent"> <a href="">Dashboard</a> &nbsp;</span> / Cash Flow Report
            </div>
        </div>
    </div>
    <!-- / HEADER -->
</div>





<div id="chartist" class="page-layout simple fullwidth doc-page chart-doc-page">
<!-- CENTER -->
    <div style="margin:10px 25px;" class="center" layout="column" flex>

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
            <!-- CONTENT -->
            <div class="content">
				<div class="card md-whiteframe-4dp">
					<div>
						<ul id="flow0">
							<li><i class="icon icon-checkbox-blank-circle inflow"></i> Inflow</li>
							<li><i class="icon icon-checkbox-blank-circle outflow"></i> Outflow</li>
						</ul>
                    </div>
					<chartist class="ct-chart ct-golden-section" chartist-data="vm.barChart.data" chartist-chart-type="Bar" chartist-chart-options="vm.barChart.options" chartist-responsive-options="vm.barChart.responsiveOptions"></chartist>
				</div>
			</div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
<!-- / CENTER -->
</div>



 
<div id="invoice" class="compact page-layout blank" layout="row" ms-scroll>
    <div class="invoice-container">

        <!-- INVOICE -->
        <div class="card md-whiteframe-8dp">
					
			<div class="content">
                <table class="simple invoice-table">
                    <thead>
                        <th>Inflow</th>
                        <th ng-repeat="month in cash_flow_reports_data.months" >{{month}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="title">Sales</td>
                            <td ng-repeat="sales_flow in cash_flow_reports_data.sales_flow track by $index">
                                <div >
                                    {{sales_flow}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Cheque Credit</td>
                            <td ng-repeat="cheque_register_flow in cash_flow_reports_data.cheque_register_flow track by $index">
                                <div>
                                    {{cheque_register_flow}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Total</td>
                            <td ng-repeat="flow in cash_flow_reports_data.flow track by $index">
                                <div>
                                    {{flow}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
								
				<table class="simple invoice-table">
                    <thead>
                        <th>Outflow</th>
                        <th ng-repeat="month in cash_flow_reports_data.months" >{{month}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="title">Order Return</td>         
                            <td ng-repeat="return_wizard_outflow in cash_flow_reports_data.return_wizard_outflow track by $index">
                                <div>
                                    {{return_wizard_outflow}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Cheque Debit</td>
                            <td ng-repeat="cheque_register_outflow in cash_flow_reports_data.cheque_register_outflow track by $index">
                                <div>
                                    {{cheque_register_outflow}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Material Cost</td>  
                            <td ng-repeat="material_outflow in cash_flow_reports_data.material_outflow track by $index">
                                <div>
                                    {{material_outflow}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="title">Total</td>  
                            <td ng-repeat="outflow in cash_flow_reports_data.outflow track by $index">
                                <div>
                                    {{outflow}}
                                </div>
                            </td>
                        </tr>

                        
                    </tbody>
                </table>

                <table class="simple invoice-table-footer">
                    <tbody>
                       
                        <tr class="total">
                            <td class="text-right">Net Cash Flow :</td>
                            <td>{{cash_flow_reports_data.net_cash_flow}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            
        </div>
        <!-- / INVOICE -->

        <!-- Use the following element to add breaks to your pages -->
        <!-- This will make sure that the section after this element will be printed on a new page -->
        <div class="page-break"></div>

    </div>
</div>




<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newCustomerPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button ng-click="vm.deleteAllNote()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button ng-click="vm.newNotePage()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->



















