<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a ng-click="vm.InvoicesPage()" href="">Order Management </a>&nbsp; / &nbsp;<a ng-click="vm.InvoicesPage()" href="">Invoice </a> </span>&nbsp; / &nbsp; Edit
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form ng-submit="vm.updateSalesOrderInvoice()" name="submitForm" novalidate>
                            <div layout="column" layout-gt-xs="row" flex>

									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input type="text" name="name" ng-model="invoice.name" required>
	                                    <div ng-messages="submitForm.name.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Subject field is required</span>
	                                        </div>
	                                    </div>
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Order ID</label>
                                        <md-select name="sales_order_id" ng-model="invoice.sales_order_id" required>
                                            <md-option ng-repeat="sales_order in get_sales_orders" value="{{sales_order.sales_order_id}}">
                                                {{sales_order.name}}
                                            </md-option>
                                        </md-select>
	                                    <div ng-messages="submitForm.sales_order_id.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Order ID field is required</span>
	                                        </div>
	                                    </div>									</md-input-container>

	                            <md-input-container class="md-block" flex-gt-sm>
										<label>Order Date</label>
                                        <md-datepicker name="create_timestamp" ng-model="invoice.create_timestamp"  md-placeholder="22/12/2016" required>
                                        </md-datepicker>
	                                    <div ng-messages="submitForm.create_timestamp.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Order Date field is required</span>
	                                        </div>
	                                    </div>	


									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>

									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Status</label>
										<input ng-model="invoice.status" name="status" type="text" required>
	                                    <div ng-messages="submitForm.status.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Status field is required</span>
	                                        </div>
	                                    </div>	
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Cancelled At</label>
                                        <md-datepicker ng-model="invoice.cancelled_at" name="cancelled_at"  md-placeholder="22/12/2016" required>
                                        </md-datepicker>
	                                    <div ng-messages="submitForm.cancelled_at.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Cancelled At field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Cancellation Reason</label>
										<input ng-model="invoice.cancel_reason" name="cancel_reason" type="text" required>
	                                    <div ng-messages="submitForm.cancel_reason.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Cancellation Reason field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>

									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Payed At</label>
                                        <md-datepicker ng-model="invoice.paid_at" name="paid_at"  md-placeholder="22/12/2016" required>
                                        </md-datepicker>

	                                    <div ng-messages="submitForm.paid_at.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Payed At field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Payment Method</label>
										<input ng-model="invoice.payment_method" name="payment_method" type="text" required>
	                                    <div ng-messages="submitForm.payment_method.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Payment Method field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Refunded At</label>
                                        <md-datepicker ng-model="invoice.refunded_at" name="refunded_at"  md-placeholder="22/12/2016" required>
                                        </md-datepicker>

	                                    <div ng-messages="submitForm.refunded_at.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Refunded At field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>

                                </div>
								<div layout="row" layout-gt-xs="row" flex>

									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subtotal </label>
										<input ng-model="invoice.subtotal" name="subtotal" type="text" required>
	                                    <div ng-messages="submitForm.subtotal.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Subtotal field is required</span>
	                                        </div>
	                                    </div>	                                    </md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Tax </label>
										<input ng-model="invoice.tax" name="tax" type="text" required>
	                                    <div ng-messages="submitForm.tax.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Tax field is required</span>
	                                        </div>
	                                    </div>	                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Shipping</label>
										<input ng-model="invoice.order_shipping_detail_attributes.name" name="shipped" type="text" required>
	                                    <div ng-messages="submitForm.shipped.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Shipping field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Discount</label>
										<input ng-model="invoice.discount" name="discount" type="text" required>
	                                    <div ng-messages="submitForm.discount.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Discount field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Total</label>
										<input ng-model="invoice.grand_total" name="grand_total" type="text" required>
	                                    <div ng-messages="submitForm.grand_total.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Discount field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
                                </div>
                        
						<div class="actions" layout="row" layout-align="start center">
                            <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Save"
                                       ng-disabled="submitForm.$invalid || submitForm.$pristine"
                                       translate="Save" translate-attr-aria-label="Save">
                                Save
                            </md-button>
<!--                             <md-button ng-click="vm.viewInvoiceSalseOrder(invoice.id)" class="md-raised md-accent">View</md-button>
 -->						</div>
						</form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Buyer Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Buyer ID</label>
										<input ng-model="invoice.buyer_attributes.uid" name="uid" type="text">
	                                    <div ng-messages="submitForm.uid.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Buyer ID field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Name</label>
										<input ng-model="invoice.buyer_attributes.name" name="name" type="text" >
	                                    <div ng-messages="submitForm.name.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Name field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
										<input ng-model="invoice.buyer_attributes.email" name="email" type="text" >
	                                    <div ng-messages="submitForm.email.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Email field is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Phone</label>
										<input ng-model="invoice.buyer_attributes.phone_number" name="phone_number" type="text">
	                                    <div ng-messages="submitForm.phone_number.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Phone field is required</span>
	                                        </div>
	                                    </div>									</md-input-container>
									
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.updateSalesOrderInvoice()" class="md-raised md-accent">Save</md-button>
<!--                             <md-button ng-click="vm.viewInvoiceSalseOrder(invoice.id)" class="md-raised md-accent">View</md-button>
 -->						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Shipping Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Shipping Paid</label>
										<input ng-model="invoice.shipped_at" name="shipped_at" type="text" >
	                                    <div ng-messages="submitForm.shipped_at.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Shipping Paid is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Shipping Cost</label>
										<input ng-model="invoice.order_shipping_detail_attributes.price" name="price" type="text">
	                                    <div ng-messages="submitForm.price.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Shipping Cost is required</span>
	                                        </div>
	                                    </div>									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Receiver Name</label>
										<input ng-model="invoice.order_shipping_detail_attributes.name" name="name" type="text">
	                                    <div ng-messages="submitForm.name.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Receiver Name is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Receiver Address Street</label>
										<input ng-model="invoice.order_shipping_detail_attributes.address_line_1" name="address_line_1" type="text"  >
	                                    <div ng-messages="submitForm.address_line_1.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Receiver Address Street is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>City</label>
										<input ng-model="invoice.order_shipping_detail_attributes.city" name="city" type="text" >
	                                    <div ng-messages="submitForm.city.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Receiver Address Street is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>State</label>
										<input ng-model="invoice.order_shipping_detail_attributes.state" name="state" type="text" >
	                                    <div ng-messages="submitForm.state.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >State is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Postal Code</label>
										<input ng-model="invoice.order_shipping_detail_attributes.postal_code" name="postal_code" type="text"  >
	                                    <div ng-messages="submitForm.postal_code.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Postal Code is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Country</label>
										<input ng-model="invoice.order_shipping_detail_attributes.country" name="country" type="text">
	                                    <div ng-messages="submitForm.country.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Country is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Phone</label>
										<input ng-model="invoice.order_shipping_detail_attributes.phone" name="phone" type="text">
	                                    <div ng-messages="submitForm.phone.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Phone is required</span>
	                                        </div>
	                                    </div>									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Tracking</label>
										<input ng-model="invoice.order_shipping_detail_attributes.tracking_code" name="tracking_code" type="text"  >
	                                    <div ng-messages="submitForm.tracking_code.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Tracking is required</span>
	                                        </div>
	                                    </div>									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Notes</label>
										<input ng-model="invoice.order_shipping_detail_attributes.notes" name="notes" type="text">
	                                    <div ng-messages="submitForm.notes.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Notes is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									
                                </div>
								
                        </form>
						
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.updateSalesOrderInvoice()" class="md-raised md-accent">Save</md-button>
<!--                             <md-button ng-click="vm.viewInvoiceSalseOrder(invoice.id)" class="md-raised md-accent">View</md-button>
 -->						</div>
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Item Details</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Name</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Quantity</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="">
											<span class="column-title">Action</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="order in ::vm.orders">
									<td>{{order.itemname}}</td>
									<td>{{order.itemprice}}</td>
									<td>{{order.qty}}</td>
									<td>{{order.itemprice}}</td>
									<td>
										<a href="">
										   <md-icon md-font-icon="icon-delete" class="s16"></md-icon>
										</a>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td class="secondary-text7">
										
									</td>
									<td class="secondary-text7">
										Total
									</td>
									<td class="secondary-text7">
										545
									</td>
									<td class="secondary-text7">
										56985
									</td>
									<td class="secondary-text7">
										
									</td>
								</tr>
							</tfoot>
						</table>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">ADD</md-button>
						</div>
					</div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Other Fee</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Marketplace Fee</label>
										<input ng-model="invoice.marketplace_fee" name="marketplace_fee" type="text">
	                                    <div ng-messages="submitForm.marketplace_fee.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Marketplace Fee is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Processing Fee</label>
										<input ng-model="invoice.processing_fee" name="processing_fee" type="text"  >
	                                    <div ng-messages="submitForm.processing_fee.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Processing Fee is required</span>
	                                        </div>
	                                    </div>										</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Acquisition Cost</label>
										<input ng-model="invoice.acquisition_cost" name="acquisition_cost" type="text" >
	                                    <div ng-messages="submitForm.acquisition_cost.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Acquisition Cost is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Profit Share Deductions</label>
										<input ng-model="invoice.profit_share_deductions" name="profit_share_deductions" type="text"  >
	                                    <div ng-messages="submitForm.profit_share_deductions.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Profit Share Deductions is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Net</label>
										<input ng-model="invoice.net" name="net" type="text" >
	                                    <div ng-messages="submitForm.net.$error" role="alert">
	                                        <div ng-message="required">
	                                            <span >Net is required</span>
	                                        </div>
	                                    </div>										</md-input-container>
									
                                </div>
								
                        </form>
						
						<div class="actions" layout="row" layout-align="start center">
							<md-button ng-click="vm.updateSalesOrderInvoice()" class="md-raised md-accent">Save</md-button>
<!--                             <md-button ng-click="vm.viewInvoiceSalseOrder(invoice.id)" class="md-raised md-accent">View</md-button>
 -->						</div>
                    </div>
                </md-tab-body>
            </md-tab>
		
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>

<!-- ADD BUTTON -->
	<!-- <div class="add-btn-fixed">
		<md-button  ng-click="vm.newCustomerPage()" class="md-fab md-accent md-icon-button" id="add-contact-button" aria-label="add contact">
			<md-icon md-font-icon="icon-plus"></md-icon>
		</md-button>
	</div> -->
	
	<div class="add-btn-fixed">
	<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                  md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-font-icon="icon-menu"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
		<md-button aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-delete"></md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="icon-pencil"></md-icon>
        </md-button>
		<md-button ng-click="vm.newSalesOrderInvoice()" aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="icon-comment-plus-outline"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
  </div>
  
<!-- / ADD BUTTON -->