<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="space-between">
            <div class="breadcrumb" layout="row" layout-align="start center">
                <span style="color:#00bcff; font-weight:normal; font-size:14px;" class="parent"> <a href="">Order Management </a>&nbsp; / &nbsp;<a href="">Invoice </a> </span>&nbsp; / &nbsp; Edit
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>General Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>ID</label>
										<input type="text" value="CUS0001">
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Subject</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Order ID</label>
										<input type="text" value="580-269-9087" >
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Order Date</label>
                                        <md-datepicker ng-model="myDate" md-placeholder="22/12/2016"></md-datepicker>
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Status</label>
										<input type="text" value="2946 Luke Lane" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Cancelled At</label>
										<input type="text" value="Kaw City" >
									</md-input-container>
                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Cancellation Reason</label>
										<input type="text" value="Oklahoma" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Payed At</label>
										<input type="text" value="australia" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Payment Method</label>
										<input type="text" value="74641" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Refunded At</label>
										<input type="text" value="Type 1" >
									</md-input-container>
									
									<md-input-container class="md-block" flex="33">
										<label>Subtotal </label>
                                        <input type="text" value="22/12/2016" >
                                    </md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Tax </label>
                                        <input type="text" value="22/12/2016" >
                                    </md-input-container>

                                </div>
								<div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Shipping</label>
										<input  type="text" value="Lorem Ipsum">
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Discount</label>
										<input  type="text" value="Lorem Ipsum">
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm>
										<label>Total</label>
										<input  type="text" value="Lorem Ipsum">
									</md-input-container>
                                </div>
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Buyer Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Buyer ID</label>
										<input type="text" value="$525" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Name</label>
										<input type="text" value="$5648" >
									</md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
										<input type="text" value="Lorem Ipsum" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Phone</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									
                                </div>
								
                        </form>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Shipping Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Shipping Paid</label>
										<input type="text" value="22/12/2016" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Shipping Cost</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Receiver Name</label>
										<input type="text" value="12/01/2017" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Receiver Address Street</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>City</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>State</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Postal Code</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Country</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Phone</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Tracking</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Notes</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									
                                </div>
								
                        </form>
						
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Item Details</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
					
						<table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
							   dt-options="vm.dtOptions">
							<thead>
								<tr>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Name</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Item Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Quantity</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="table-header">
											<span class="column-title">Price</span>
										</div>
									</th>
									<th class="secondary-text">
										<div class="">
											<span class="column-title">Action</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="order in ::vm.orders">
									<td>{{order.itemname}}</td>
									<td>{{order.itemprice}}</td>
									<td>{{order.qty}}</td>
									<td>{{order.itemprice}}</td>
									<td>
										<a href="">
										   <md-icon md-font-icon="icon-delete" class="s16"></md-icon>
										</a>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td class="secondary-text7">
										
									</td>
									<td class="secondary-text7">
										Total
									</td>
									<td class="secondary-text7">
										545
									</td>
									<td class="secondary-text7">
										56985
									</td>
									<td class="secondary-text7">
										
									</td>
								</tr>
							</tfoot>
						</table>
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">ADD</md-button>
						</div>
					</div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Other Fee</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Marketplace Fee</label>
										<input type="text" value="22/12/2016" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Processing Fee</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Acquisition Cost</label>
										<input type="text" value="12/01/2017" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Profit Share Deductions</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									<md-input-container class="md-block" flex="33">
										<label>Net</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									
                                </div>
								
                        </form>
						
						<div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div>
                    </div>
                </md-tab-body>
            </md-tab>
			
			<md-tab>
                <md-tab-label>
                    <span>Other Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout="column" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex-gt-sm>
										<label>Date Created</label>
										<input type="text" value="22/12/2016" >
									</md-input-container>
									
									<md-input-container class="md-block" flex-gt-sm>
										<label>Created By</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>

                                   <md-input-container class="md-block" flex-gt-sm>
										<label>Date Modified By</label>
										<input type="text" value="12/01/2017" >
									</md-input-container>
                                </div>
								<div layout="row" layout-gt-xs="row" flex>
                                    <md-input-container class="md-block" flex="33">
										<label>Modified By</label>
										<input type="text" value="Lola J Bolden" >
									</md-input-container>
									
                                </div>
								
                        </form>
						
						<!-- <div class="actions" layout="row" layout-align="start center">
							<md-button class="md-raised md-accent">Save</md-button>
							<md-button class="md-raised md-accent">Clear</md-button>
						</div> -->
                    </div>
                </md-tab-body>
            </md-tab>
			
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>